<footer>
    &copy; {{ site.time | date: "%Y" }} JALEX Music Productions. All rights reserved.
</footer>

<div class="backdrop"></div>
<div class="drawer">
    <a href="#demo">{{ page.nav_demo }}</a>
    <a href="#about">{{ page.nav_about }}</a>
    <a href="#services">{{ page.nav_services }}</a>
    <a href="#contact">{{ page.nav_contact }}</a>
    <a href="#gallery">{{ page.nav_gallery }}</a>
    <hr />
    <a id="swedish-lang" href="/sv"><img src="/img/icons/globe.svg" /> {{ page.nav_swedish }}</a>
    <a id="english-lang" href="/en"><img src="/img/icons/globe.svg" /> {{ page.nav_english }}</a>
</div>