<header>


  <nav class="nav" aria-label="Primary">
    <div class="nav-inner">
      <div class="brand">
        <div class="logo" aria-hidden="true"><img src="/img/jalex_header_logo.png" loading="lazy" /></div>
      </div>
      <div class="lang-wrapper">
        <a href="/en/" lang="en">EN</a> |
        <a href="/sv/" lang="sv">SV</a>
      </div>
    </div>
  </nav>
  <button class="burger-fixed" aria-label="Open menu" aria-expanded="false">
    MENU <span class="burger-icon">☰</span>
  </button>
  <header class="hero" id="top">
    <div class="hero-inner">
      <img class="center-logo" src="/img/jalex_center_logo.png" />
      <!-- <div class="eyebrow">{{ page.hero_eyebrow }}</div> -->
      <h1>{{ page.hero_title }}</h1>
      <!-- <p class="tagline">{{ page.hero_tagline }}</p> -->
      <div class="cta">
        <a class="btn" href="mailto:info@jalexmusic.com">{{ page.cta_contact }}</a>
      </div>
    </div>
  </header>